 body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: linear-gradient(135deg, #2980b9, #6dd5fa);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      display: flex;
      gap: 25px;
      flex-wrap: wrap;  
      justify-content: center;
    }

    .card {
      background: #ffffff;
      width: 260px;
      padding: 25px;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.25);
      text-align: center;
    }

    .card h2 {
      margin-bottom: 15px;
      color: #2c3e50;
    }

    .value {
      font-size: 42px;
      font-weight: bold;
      margin: 10px 0;
    }

    /* ===== WARNA KHUSUS ===== */
    .humidity {
      color: #16a085;
    }

    .temperature {
      color: #e67e22;
    }

    .pump-box {
      padding: 20px;
      border-radius: 12px;
      font-size: 22px;
      font-weight: bold;
      color: white;
      margin-top: 20px;
    }

    .on {
      background-color: #27ae60;
    }

    .off {
      background-color: #e74c3c;
    }

    footer {
      margin-top: 10px;
      font-size: 12px;
      color: #888;
    }

    /* ===== RESPONSIVE MOBILE ===== */
@media (max-width: 768px) {

  body {
    height: auto;
    padding: 20px 0;
    align-items: flex-start;
  }

  .container {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 90%;
    max-width: 350px;
  }

  .value {
    font-size: 36px;
  }
}
